*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: arial, sans-serif;
    baackground-color: #ffffff;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

button.filled {
    background-color: #2EB960;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

button.outline {
    background-color: transparent;
    color: #2EB960;
    border: 2px solid #2EB960;
    padding: 8px 13px;
    border-radius: 4px;
    cursor: pointer;
}



.search-section {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-section input[type="search"] {
    flex-grow: 1;
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.search-section button {
    background-color: #2EB960;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}