*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: arial, sans-serif;
    baackground-color: #ffffff;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #f8f8f8;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}